.selectTopic {
  padding-left: 4vw;
  /* border: 1px solid red; */
}

.selectTopic button:not(:last-child) {
  margin-right: 15px;
}

.tweets {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 30px;
  padding: 10px 30px;
  /* border: 1px solid red; */
}

.tweetContainer {
  min-height: 300px;
}
